body{margin:0; padding:0}
TD {
	FONT-SIZE: 12px; font-family:"Î¢ÈíÑÅºÚ",Verdana, Geneva, sans-serif; text-align:
}

.input_txt {
	LINE-HEIGHT: 20px; MARGIN-TOP: 3px; COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3366ff; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:active {
	FILTER: Dropshadow(offx=1,offy=0,color=#00a8eb)
	Dropshadow(offx=0,offy=1,color=#00a8eb)
    Dropshadow(offx=0,offy=-1,color=#00a8eb)
    Dropshadow(offx=-1,offy=0,color=#00a8eb); COLOR: #000000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
.Input {
	BORDER-BOTTOM-COLOR: #0568b2; PADDING-BOTTOM: 1px; BORDER-RIGHT-WIDTH: 1px; BACKGROUND-COLOR: #ffffff; BORDER-TOP-COLOR: #0568b2; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BORDER-TOP-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 1px; HEIGHT: 16px; COLOR: #000000; BORDER-RIGHT-COLOR: #0568b2; FONT-SIZE: 9pt; BORDER-LEFT-COLOR: #0568b2; BORDER-LEFT-WIDTH: 1px; PADDING-TOP: 1px
}
A {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #d20000; TEXT-DECORATION: underline
}
A.Top {
	COLOR: #ff0000; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.Top:hover {
	COLOR: #990000; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.Nav {
	COLOR: #fce3af; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.Nav:hover {
	COLOR: #ededed; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.NavT:link {
	FONT-FAMILY: "ËÎÌå"; COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.NavT:visited {
	FONT-FAMILY: "ËÎÌå"; COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.NavT:active {
	FONT-FAMILY: "ËÎÌå"; COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A.NavT:hover {
	BORDER-BOTTOM: 1px dotted; POSITION: relative; FONT-FAMILY: "ËÎÌå"; COLOR: #ff0000; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
UL.nl {
	LIST-STYLE: none none outside; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.font_Glow_nav_1 {
	FILTER: Glow(Color=#0568b2, Strength=2, FONT-SIZE: 12pt;); COLOR: #ffffff; FONT-WEIGHT: bold
}
.TopName {
	FILTER: dropshadow(color=#ffffff, offx=1, offy=1, positive=1); HEIGHT: 1px
}
.TopTab {
	FILTER: Glow(Color=#9D080D, Strength=2)
}
.TopType {
	BORDER-BOTTOM: #d1d1d1 1px dashed
}
 


.main {
	Z-INDEX: 2; POSITION: relative; MARGIN: 0px auto 0px;
}
.main TABLE TH {
	LINE-HEIGHT: 29px;   HEIGHT: 29px; COLOR: #ffffff; font-weight:bold;FONT-SIZE: 12px;  
}
.main TABLE {
	
}
.main TABLE TD {
	  LINE-HEIGHT: 24px; HEIGHT: 24px; 
}

.tableBorder1 {
	BORDER-BOTTOM: #ffcc33 1px solid; BORDER-LEFT: #ffffff 1px solid; LINE-HEIGHT: normal; BACKGROUND-COLOR: #ffcc33; FONT-VARIANT: normal; FONT-STYLE: normal; FONT-SIZE: 12px; BORDER-TOP: #ffffff 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #ffffff 1px solid
}
TR.TableRow {
	  COLOR: #ffffff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
TD.TableRow {
	BACKGROUND-COLOR: #009100
}
TD.TableTitle1 {
	BACKGROUND-COLOR: #335ea8; COLOR: #ffffff
}
TD.TableTitle2 {
	BACKGROUND-COLOR: #e4e8ef
}
TD.TableBody1 {
	LINE-HEIGHT: normal; BACKGROUND-COLOR: #ffffff
}
TD.TableBody2 {
	LINE-HEIGHT: normal; BACKGROUND-COLOR: #e4e8ef
}
.tableBorder3 {
	BORDER-BOTTOM: #547fd1 1px solid; BORDER-LEFT: #547fd1 1px solid; BACKGROUND-COLOR: #d6e0ef; BORDER-TOP: #547fd1 1px solid; BORDER-RIGHT: #547fd1 1px solid
}
 .STYLE1 {color: #FF0000}
.STYLE2 {color: #FF00FF}
.STYLE4 {color: #FF0000; font-weight: bold; }
.cc a{ color:#f00; font-weight:bold;}
.cc a:hover{color:#00f; text-decoration:underline}


.zkf{ clear:both;  border:1px solid #BFD7FB; width:100%}
.zkf th{background:url(titlebg32.png) repeat-x left top; height:29px; line-height:29px; border-bottom:1px solid #BFD7FB; font-weight: normal;}
.zkf td{height:27px; line-height:27px; overflow:hidden;white-space:nowrap;}
.zkftra{ background:#FF0;}
.zkftra td{ border-bottom:1px solid #FFCC00;}
.zkftha{width:140px;}
.zkfthb{width:110px;}
.zkfthc{width:80px;}
.zkfthd{width:108px;}
.zkfthe{width:74px;}
.zkfthf{width:50px;}
.zkf strong a { color:#f00;}
.zkf em{ color:#f00;}
.zkf td img{margin-left:5px; border:none;}
.zkftrb td,.zkftrc td{border-bottom:1px solid #BFD7FB}
.zkftrc{ background:#F2F7FC}
.zkftrb{ background:#fff}
.zmain td a:hover{ color:#f00;}

.zred{color:#f00;}
.zkf tr:hover a,.zkf tr:hover a:hover{color: #FF3; text-decoration:underline}
.zkf th  {color:#000; }
.zkfjpyx{color:#f00; text-align:center;}
.zkfzz{border-bottom:1px solid #BFD7FB;border-left:1px solid #BFD7FB;border-right:1px solid #BFD7FB;text-align:center; height:27px; line-height:27px;background:#FFC;}
.zkfzz a{ color: #06F;}
.zkftrd{ background:#FFc;}
.zkftrd td{ border-bottom:1px solid #FFCC00;}
.zkftre{ background:url(titlebg33.png) repeat-x left top;}
.zkftre td{ border-bottom:1px solid #FFCC00; color:#ff0;}
.zkftre td a{  color:#fff;}


.zkf tr:hover{ background: url(titlebg02.png) repeat-x left top; color:#fff;}
